:root{
    --primary-color :#1f1f1f;
    --secondary-color : #3D4142;
    --tertiary-color : #FF6347;
    --other-color:#D4B483;
}
body{
    margin: 0;
    box-sizing: border-box;
    height: 100vh;

}
.flex{
    display: flex;
    gap: 15px;
    align-items: center;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 0 20px;
    height: 100px;

}
.i-menu{
    font-size: 38px;
    color: var(--tertiary-color);

}
p{
    font-size: 24px;
}

